;; -*- mode: Lisp; -*-

(setq prj-version "0.4")

(setq prj-config
      '(("project-name" . "Autosauler_net Client")))

(setq prj-tools
      '(("Make" "make" "f9")
	("Clean" "make clean" "C-f9")
	("Run" "echo run what" "f8")
	("Stop" "-e eproject-killtool" "C-f8")
	("---")
	("Configure" "./configure")
	("---")
	("Explore Project" "nautilus --browser `pwd` &")
	("XTerm In Project" "xterm &")))

(setq prj-files
      '(("System/Progress.j" 1 7)
	("System/MainWindow.j" 114 144)
	("System/StatusLabel.j" 1 1)
	("System/IndicatorIco.j" 1 22)
	("System/StatusIndicator.j" 50 58)))

(setq prj-curfile "System/MainWindow.j")

(setq prj-functions nil)

